* {
	box-sizing: border-box;
}

body {
	background-color: #d8d8d8;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.center-container {

	margin: 40px auto;
	width: 605px;
	height: 100%;


}

.content-top {
	width: 100%;
	height: 250px;
	padding: 10px 40px;
	margin-bottom: 40px;


}

.main-content {
	height: 540px;
	width: 100%;
	padding: 40px 40px;
	margin-top: 40px;

}

.white {

	background-color: #fff;
}

.btn-row {
	position: relative;
	top: 12px;
	width: 100%;
	height: 60px;
	text-align: center;
	color: #fff;
	font-size: 20px;

}

.btn-red {
	width: 135px;
	height: 100%;
	float: left;
	background-color: #D0021B;
}

.btn-blue {
	width: 135px;
	height: 100%;
	float: left;
	background-color: #4A90E2;
	margin-left: 25px
}

.img-container {
	position: relative;
	width: 100%;
	height: 340px;
	background-color: #4A4A4A;
	margin-bottom: 35px;

}

.img-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 35px;

}

footer {

	margin-top: 20px;
	width: 100%;
	height: 70px;
	background-color: #4A4A4A;
}

.bottom-bar {

	height: 100%;
	width: 605px;
	color: #fff;
	font-size: 20px;
	margin: auto;



}

.apl-btn {
	float: left;
	width: 100px;
	height: 100%;
	text-align: center;
	margin-left: 405px;
}

.gogl-btn {
	float: left;
	width: 100px;
	height: 100%;
	text-align: right;

}




